/dev/MyTheatre/MyTheatre/target/
/dev/MyTheatre/MyTheatre/src/main/webapp/META-INF/context.xml
/dev/MyTheatre/MyTheatre/nbproject/
/dev/MyTheatre/MyTheatreModel/nbproject/
/dev/MyTheatre/MyTheatreModel/target/
/dev/MyTheatre/MyTheatreDAO/nbproject/
/dev/MyTheatre/MyTheatreDAO/target/
/dev/MyTheatre/MyTheatreDAO/bd/jdbc.properties
/dev/MyTheatre/MyTheatreDAO/src/test/java/fr/im2ag/m2cci/mytheatre/prog/dao/MockDataSource.java

